---
import Layout from '../layouts/Layout.astro';
import Home from '../components/sections/Home.astro'
import About from '../components/sections/About.astro';
import BentoGrid from '../components/BentoGrid.astro';
---

<Layout title="Welcome to Astro.">
	<main class="">
		<Home />
		<About />

		<section class="h-screen w-full flex flex-col items-center gap-10 lg:px-10 xl:px-32 mt-10">
			
			<h1 class="font-poppins font-extrabold text-7xl"> WORK </h1>

			<BentoGrid />
		
		</section>


	</main>
</Layout>

