---
import Layout from '../layouts/Layout.astro';
import Home from '../components/sections/Home.astro'
---

<Layout title="Welcome to Astro.">
	<main class="">
		<Home />

		<section class="h-screen lg:px-10 xl:px-32 bg-black w-full mt-5 flex items-center">

			<p class="text-8xl font-poppins font-extrabold text-white">
				I create visually appealing digital products, combining aesthetics with technology.
			</p>
		
		</section>

		<section class="h-screen w-full lg:px-10 xl:px-32 flex gap-20 bg-black ">

			<div class="flex gap-20 my-10">

				<img src="/imgs/massi.webp" alt="" class="rounded-[40px] h-[100%]">

				<div class="h-full flex flex-col items-start text-white">
					<h1 class="font-poppins font-extrabold text-8xl">Who am I?</h1>

					<p class="font-poppins font-light text-2xl mt-10 ">I am a user experience and interface designer passionate about merging design and technology. My journey started with a solid foundation in computer science, which gives me a deep understanding of the technological fundamentals that support my design projects.
					</p>

					<p class="font-poppins font-light text-2xl mt-10 ">My journey started with a solid foundation in computer science, which gives me a deep understanding of the technological fundamentals that support my design projects.
					</p>
				</div>

			</div>

		</section>

	</main>
</Layout>

