---

---

<nav class="fixed bg-white z-10 top-0 w-full flex justify-between items-center py-5 px-32">

  <h1 class="font-lacquer text-6xl cursor-pointer text-textBlack">massiel</h1>

  <ul
    class="flex flex-row lg:gap-x-10 xl:gap-x-24 font-poppins font-light text-xl"
  >
    <li
      class="relative w-fit block cursor-pointer
            after:block after:content-[''] after:absolute after:h-[1px] after:bg-black after:w-full after:scale-x-0 
            after:hover:scale-x-100 after:transition after:duration-300 after:origin-left"
    >
      Home
    </li>
    <li
      class="relative w-fit block cursor-pointer
            after:block after:content-[''] after:absolute after:h-[1px] after:bg-black after:w-full after:scale-x-0 
            after:hover:scale-x-100 after:transition after:duration-300 after:origin-left"
    >
      About
    </li>
    <li
      class="relative w-fit block cursor-pointer
            after:block after:content-[''] after:absolute after:h-[1px] after:bg-black after:w-full after:scale-x-0 
            after:hover:scale-x-100 after:transition after:duration-300 after:origin-left"
    >
      Portfolio
    </li>
    <li
      class="relative w-fit block cursor-pointer
            after:block after:content-[''] after:absolute after:h-[1px] after:bg-black after:w-full after:scale-x-0 
            after:hover:scale-x-100 after:transition after:duration-300 after:origin-left"
    >
      Contact
    </li>
  </ul>
</nav>
